<section id="agency-details">
  <div class="container-fluid">
    <div class="row">
      <h2 id="agency-name"></h2>
    </div>
      <div class="row">
        <div class="col-md-7 col-lg-8">
          <h4>Mission</h4>
            <p id="agency-mission"></p>
          <h4>Mandates</h4>
          <p id="agency-mandates"></p>
          <h4>Key Activities and Services</h4>
          <div id="agency-key-activities">
          </div>
          <div class="program-list">
            <h4>Programs</h4>
            <dl class="row" id="program-list">
            </dl>
          </div>
      </div>
      <div class="col-md-5 col-lg-4 quick-stats">
          This is where summary score goes.
      </div>
  </div>
  <div class="card-deck agency-metrics" id="agency-metrics">
  </div>
</section>