<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{{ "/" | relative_url }}">{{ site.title }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{ "/" | relative_url }}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarAgencyDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Agency
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarAgencyDropdown">
          {% for agency in site.agency %}
            <a class="dropdown-item" href="{{ agency.url | relative_url }}">{{ agency.title | escape }}</a>
          {% endfor %}
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
        <!-- <select class="form-control form-control-lg" id="agency-selector">
          {% for agency in site.agency %}
            <option value="{{ agency.url | relative_url }}">{{ agency.title }}</option>
          {% endfor %}
        </select> -->
        <select class="form-control form-control-lg" id="time-selector">
          {% for period in site.periods %}
            <option>{{ period }}</option>
          {% endfor %}
        </select>
      </form>
  </div>
</nav>